@import "../../colors.less";

.outer-container-category {
  flex-direction: column;
}

.categoryBtn {
  position: relative;
  text-align: left;
  background: transparent;
  border: none;
  font-size: 15px;
  padding: 5px;
  border-bottom: 1px solid white;
  margin: 20px 0 10px 0;
  color: @mainColorText;


  &:after {
    position: absolute;
    height: 1px;
    width: 6px;
    background-color: @mainColorText;
    content: "";
    top: 16px;
    right: 12px;
    transform: rotate(45deg);
    border-radius: 1px 0px 0px 1px;
    transition: transform 0.2s ease-out;
  }
  
  &:before {
    position: absolute;
    height: 1px;
    width: 6px;
    background-color: @mainColorText;
    content: "";
    top: 16px;
    right: 8px;
    transform: rotate(-45deg);
    border-radius: 0px 1px 1px 0px;
    transition: transform 0.2s ease-out;
  }

    &.open{

      &:after {      
        transform: rotate(-45deg);
      }

      &:before {
        transform: rotate(45deg)
      }
    }

}


