@import "/src/colors.less";

.menu{
  display: flex;
  align-self: center;
  padding: 10px 40% 10px 40%;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: @mainColorText;
  background-color: @mainColorDarker;
}