@import "/src/colors.less";

.outerIngredientsMenuContainer {
  display: flex;
  flex-direction: column;
}
.ingredientsMenuContainer{
  margin-bottom: 10px;
}

.menu{
  width: 100%;
  padding: 10px;
  border: none;
  cursor: pointer;
  color: @mainColorText;
  background-color: rgba(163, 121, 162,0.5);

}

.ingredientCategoryContainer{
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin:0 15px
}

.categoryContainer{
  background-color: @mainColorDarker;
  color: @mainColorText;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-radius: 10px;
  padding:5px;
  border: none;
  margin: 10px 10px 0px 10px;
}